.buttonContainer{
  float: right;
  margin-bottom: 20px;
  display: block;
  /* background-color: aliceblue; */
}
.clearButton {
  width: 50px;
  height: 50px;
  background-color: #dc5c94;
  margin: 20px 10px;
}

.prediction {
  background-color: lightgrey;
  font-size: 28px;
  width: 270px;
  height: 50px;
  padding: 12px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
